.comunication{
	background-image: url(/img/layer87.png);
	background-size: cover;
	background-position: center;
	padding-top: 228px;
	padding-bottom: 100px;
	.row-communication{
		 	margin-left: -15px;
   			 margin-right: -15px;
    		flex-wrap: wrap;
	    	display: flex;
	    .col-5{
	    	display: flex;
	    	flex-direction: column;
	    	flex-basis:43.5%;
	    	padding-right: 15px;
	    	padding-left: 15px;
	    	.title-communication{
				font-size: 25px;
				line-height: 36px;
				color: var(--white);
				text-transform: uppercase;
				padding-bottom: 40px;
	    	}
			.comunity-wrap{
				margin-top: 70px;
				text-transform: uppercase;
				font-size: 15px;
				.comunication-description{
				padding: 12px 0 12px 20px;
				background-color: var(--blue-dark);
				margin-bottom: 25px;
					&:last-of-type{
						margin-bottom: 0
					}
					&:nth-child(1){
						max-width: 370px;
					}
					&:nth-child(2){
						max-width: 400px;
					}
					&:nth-child(3){
						max-width: 430px;
					}
				}
			}
	    }
	    .col-7{
	    	display: flex;
	    	flex-basis:56.5%;
	    	justify-content: flex-end;
	    	padding-left: 15px;
	    	padding-right: 15px;
	    	.phone-inner_img{
	    		margin-top: -100px;
	    		img{
	    			width: 100%;
	    			overflow: hidden;
	    		}
	    	}
	    }
	}
}
@media screen and (max-width: 767px) {
	.row-communication{
		flex-direction: column-reverse;
		.phone-inner_img{
			margin-bottom: 40px;
		}
	}
}
